.form
  .new-form
    = form_for(@post) do |f|
      - if @post.errors.any?
        #error_explanation
          %h2
            =pluralize(@post.errors.count, "error") 
        %ul
          -@post.errors.full_messages.each do |msg|
            %li
              =msg
      #new-form-title
        =f.text_field :title, :class=>"textinput-title"
      #new-form-excerpt
        =f.text_area :excerpt, :class => "new_form_exerpt", :rows => 4, :cols => 50
      #new-form-body  
        =f.text_area :body, :class => "textarea-body", :cols => 50
      #new_form_submit
        =f.submit "Создать", :class => "flat-ok-button"
